{% extends 'base.html' %} 

{% block title %}
    <title>Fruits and Vegetables</title>
{% endblock %} 

{% block content %}
    <h1 style="text-align: center; margin: 20px 0 20px 0;">Products</h1>
    <div class="row">
    {% for product in products %}
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
            <div class="col-md-4" style="display: flex; align-items: center">
            <img
                src="{{ product.image_url }}"
                class="img-fluid rounded-start"
                alt="product-image"
            />
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">Price: ${{ product.price }}</p>
                <p class="card-text">
                <small class="text-muted">In stock: {{ product.stock }}</small>
                </p>
                <a href="#" class="btn btn-dark">Add to Cart</a>
            </div>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}
